body {
    margin: 0px;
    font-family: sans-serif;
}

:root {
    --button-fixed-width-sm: 26px;
    --button-fixed-height-sm: 26px;

    --highlight-bg-color: #00b306;
    --highlight-bg-color-hover: #629e64;
    --main-bg-color: rgba(0, 0, 0, 0.3);
    --main-bg-color: rgba(0, 0, 0, 0.6);
}

/*
.playback-bar .button-plugins button i svg {
    color: black;
    fill: black;
    background-color: white;
    padding: 1px;
    border-radius: 1px;
}

.button-group button i svg {
    color: black;
    fill: black;
    background-color: white;
    padding: 1px;
    border-radius: 1px;
}

.video-canvas .button-area button i svg {
    color: black;
    fill: black;
    background-color: white;
    padding: 1px;
    border-radius: 1px;
}
*/

#player-container {
    width: 100vw;
    height: 100vh;
}

#player-container.native-player {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#player-container.native-player > audio {
    width: 100%;
}